
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@Html.ActionLink("Navigate to Student App", "Index", new { controller = "Student", action = "Index", id = UrlParameter.Optional })